<h4>Agregar</h4>

<form action="">
    <div class="form-group">
        <label for="nombre"> Nombre:</label>
        <input type="text" name="nombre" class="form-control"> 
    </div>
    <div class="form-group">
        <label for="Documento"> Documento:</label>
        <input type="number" name="documento" class="form-control"> 
    </div>

    <div class="form-group">
        <label for="sexo"> Sexo</label>
        <input type="text" name="sexo" class="form-control"> 
    </div>

    <button>Agregar</button>

</form>
